#diashow {
	max-height: 900px;
	overflow: hidden;
	text-align: center;	
}

#diashow_small {
	width: 350px;
	height: 296px;
	overflow: hidden;
	text-align: center;	
}

.diashow_image {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.diashow_image_small {
	max-width: 100%;
	max-height: 100%;
}